.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 0;
	padding: 0;
}

.Helvetica {
	font-family: Helvetica;
}

.animal-card {
	-webkit-box-shadow: 0 6px 12px 1px rgba(0,0,0,0.36);
	-moz-box-shadow: 0 6px 12px 1px rgba(0,0,0,0.36);
	box-shadow: 0 6px 12px 1px rgba(0,0,0,0.36);
	width: 300px;
	height: auto;
}

.animal-img {
	width: 300px;
	padding-bottom: 15px
}

.center {
	display: block;
	margin: auto;
}

.border {
	border: 2px solid rgb(217,217,217);
}

.info-padding {
	padding: 15px;
}
